fastapi
uvicorn[standard]
psycopg2-binary
sqlalchemy
pydantic
pydantic-settings
alembic
passlib
bcrypt<4.0
python-jose[cryptography]
pydantic[email]
python-multipart
cryptography
apscheduler
redis
PyJWT
docker
sse-starlette
pytest
httpx
flake8
black
